/* This resets all styling to unset */
* {
  all: unset;
}

window {
  background: #fff;
}

/* your application styles go here */
button {
  color: #555;
  border-radius: 10px;
  background: #fff;
  box-shadow:  4px 4px 9px 9px #d9d9d9, 
             -4px -4px 9px 9px #ffffff;
}

button:hover {
  background: #fcfcfc;
  box-shadow:  4px 4px 9px 9px #d3d3d3, 
             -4px -4px 9px 9px #fcfcfc;
}

button:active {
  box-shadow:  4px 4px 9px 9px #dfdfdf, 
             -4px -4px 9px 9px #ffffff;
}

#title {
  font-size: 26px;
  color: black;
  letter-spacing: 4px;
  font-weight: 100;
}

#button1 {
  font-size: 15px;
  padding: 10px;
}